In [3]:
print("Hello World")

Hello World

In [4]:
print("""*_*
*_* *_*""")

*_*
*_* *_*

In [5]:
print("python\'s world")

python's world

In [6]:
print("I love \'python\' ")

I love 'python'

In [8]:
name="vinith"
mark=95.49
age=20
print("I am ",name,"and my mark is",mark,"and my age",age)

I am  vinith and my mark is 95.49 and my age 20

In [10]:
print(f"I am {name} and my mark {mark} and age {age}");

I am vinith and my mark 95.49 and age 20

In [11]:
print("I am %s mark %10.2f and age is %d" %(name,mark,age));

I am vinith mark      95.49 and age is 20

In [1]:
a=10
id(a)

140732661015216

In [5]:
a=5
b=2
c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

7
3
2.5
1
2
25

In [6]:
a=240
b=1
c=a&b
d=a^b
e=a|b
f=a<<b
g=a>>b
print(c)
print(d)
print(e)
print(f)
print(g)

0
241
241
480
120

In [9]:
10>9 and 15>10

True

In [10]:
str1="pythonprogramming"
"s" in str1

False

In [11]:
"o" in str1

True

In [12]:
10>8>9

False

In [13]:
2**-1

0.5